<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Titulo da janela -->
    <title> SISTEMA_DESK </title>
    <!-- bootstrap -->
     <link rel="stylesheet" href="../public/css/bootstrap.min.css">
     <!-- css personalizado -->
      <link rel="stylesheet" href="../public/css/style.css">
    <!-- Impedir a execução de scripts externos ou não autorizados-->
   <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>
<body>
    <div class="containe button">
    <img src="../public/img/clientes.png" alt="clientes" title=" Cadastro de clientes" onclick="cliente()">
    <img src="../public/img/os.png" alt="computador" title="emissão de os" onclick="os()">
    <img src="../public/img/logo.png" alt="logo" id="logo">
</div>

<footer>
    <p id="dataatual"> </p>
    <img src="../public/img/dboff.png" alt="db icon" id="statusdb">
</footer>
     <!-- bootstrap -->
      <script src="../public/js/bootstrap.min.js"></script>
      <script src="../public/js/script.js"></script>
      <!-- renderizador -->
       <script src="renderer.js"></script>
</body>
</html>