<!DOCTYPE html>
<html lang="PT-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sistema_desk - sobre </title>
     <!-- bootstrap -->
     <link rel="stylesheet" href="../public/css/bootstrap.min.css">
     <!-- css personalizado -->
      <link rel="stylesheet" href="../public/css/style.css">
    <!-- Impedir a execução de scripts externos ou não autorizados-->
     <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' ">

</head>
<body>
<div class="container">
    <h1> Sistema_desk </h1>
    <p> Sistema para a emissão de OS</p>
    <p> Autor: Nicoli Santos </p>
    <p> sob a licença MIT </p>
</div>

<!-- bootstrap -->
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/script.js"></script>
</body>
</html>