@charset "utf-8";

/* botões  */

/* Botoes tela principal */
.button img {
    margin: 50px 15px 25px 15px;
    padding: 5px;
    border: 1px solid #e8e8e8;
    cursor:pointer;
}



footer  {
    background-color: black;
    color: white;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    justify-content: space-between;
    display: flex;
    padding: 5px;
}

footer p {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

#btnReset {
    width: 50px;
    height: 50px;
    background-image: url(../../views/brommmmm.png);
    border: none;
    cursor: pointer;
}